# Public build-time settings. Do not put secrets in GATSBY_* variables.
GATSBY_SITE_OWNER=Estrellang
GATSBY_SITE_URL=https://estrellang.github.io/resume/
GATSBY_REPOSITORY_URL=https://github.com/Estrellang/resume
GATSBY_PATH_PREFIX=/resume
